<div class="w-full m-4 p-4"> <!-- w-600 = width: 60rem (600px), mw-full = max-width: 100% -->
        <div class="card p-6 m-2 d-flex flex-col justify-content-center">
        {% set ruta = 'all_users' %}
            {% if totalPaginas > 1 %}
                {% include('components/pagination.html.twig') %}
            {% endif %}<!-- p-0 = padding: 0 -->
            <!-- Hoverable rows -->
            <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="d-sm-none d-xl-block">IMAGEN</th>
                    <th class="text-center">EMAIL</th>
                    <th class="text-center">DISPLAYNAME</th>
                    <th class="text-center">VERIFICADO</th>
                    {% if is_granted('create', entityFaker.getMock('User') ) %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.id }}</td>
                    <td class="d-sm-none d-lg-block">
                        <img src="{{ app.user.avatar ?
                                path('pic_show', {'avatar': app.user.avatar }) :
                                path('pic_show', {'avatar': 'default.png'})
                                }}" 
                                class="img-fluid rounded-top w-175 h-150 justify-center m-2 p-2" 
                                alt="{{ app.user.displayname }}" />
                    </td>
                    <td class="text-left">{{ user.email }}</td>
                    <td class="text-left">{{ user.displayname }}</td>
                    <td class="text-center">{{ user.isverified }}</td>
                    <td class="text-center">
                        {% if is_granted('show', user ) %}
                            <div class="d-flex justify-content-start align-items-center">
                                <a href="{{ path('user_show', {'id':user.id })}}" class="m-2 primary"><img src="{{ asset('img/buttons/show.png')}}" alt="detalles usuario {{ user.displayname }}"  style="height:20px; width:20px"/></a>
                                {% if is_granted('edit', user ) %}
                                    <a href="{{ path('user_edit', {'id':user.id })}}" class="m-2"><img src="{{ asset('img/buttons/update.png')}}" alt="editar usuario {{ user.displayname }}" style="height:20px; width:20px"/></a>
                                    <a href="{{ path('user_delete', {'id':user.id })}}" class="m-2"><img src="{{ asset('img/buttons/delete.png')}}" alt="borrar usuario {{ user.displayname }}" style="height:20px; width:20px"/></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                {# <td class="flex-row d-flex">
                    <a href="{{ path('movie_show', {'id':peli.id })}}"><img src="{{ asset('img/buttons/show.png')}}" alt="detalles pelicula {{ peli.titulo }}" style="height:20px; width:20px"/></a>
                    <a href="{{ path('movie_edit', {'id':peli.id })}}"><img src="{{ asset('img/buttons/update.png')}}" alt="editar pelicula {{ peli.titulo }}" style="height:20px; width:20px"/></a>
                    <a href="{{ path('movie_delete', {'id':peli.id })}}"><img src="{{ asset('img/buttons/delete.png')}}" alt="borrar pelicula {{ peli.titulo }}" style="height:20px; width:20px"/></a>
                    {# <button class="btn" type="button"> <a href="{{ path('movie_show', {'id':peli.id })}}" style="height:15px; width:15px">VER</a></button>
                    <button class="btn btn-primary" type="button"> <a href="{{ path('movie_edit', {'id':peli.id })}}" style="height:15px; width:15px">EDITAR</a></button>
                    <button class="btn btn-danger" type="button"> <a href="{{ path('movie_delete', {'id': peli.id })}}" style="height:15px; width:15px">BORRAR</a></button> #}
                </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>