
{% extends 'layouts/base.html.twig' %}

{% block title %} Mostrar sitio {{ place.titulo }} {% endblock %}
{% block description %}Información del lugar {{ place.titulo }} de la App Symfoplaces {% endblock %}

{% block main %}
{{ parent() }}
    <!-- Card with no padding with multiple content containers nested inside of it -->
<div class="w-800 mw-full d-flex flex-column justify-center m-0 p-0">
	<div class="card p-0">
      	{# <div class="d-flex justify-content-center m-2">
	      <img src="{{ asset(covers_directory~'/'~(place.caratula ?? 'default.jpg' ))}}" class="h-200 w-150 img-fluid rounded-top" alt="{{ place.titulo }}" title="{{ place.titulo }}">
      	</div> #}
			<!-- rounded-top = rounded corners on the top -->
			<!-- First content container nested inside card -->
		<div class="content d-flex flex-column justify-content-center align-items-center">
		<h2 class="content-title text-primary text-smoothing-auto-dm font-weight-bolder font-size-24">
            {{ place.titulo }}
        </h2>
        <h2 class="content-title">
            Ciudad: {{ place.city }}
        </h2>
		<h2 class="content-title">
            País: {{ place.country }}
        </h2>
		{# <div>
			<span class="text-muted">
				<i class="fa fa-clock-o mr-5" aria-hidden="true"></i>
					Duracion:
					{{ place.duracion }} min.
					<!-- mr-5 = margin-right: 0.5rem (5px) -->
			</span>
		</div> #}
		<div class="d-flex">
			<span class="badge">
					{{ place.type }}
					<!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
			</span>
		</div>
        <div class="d-flex">
			<span class="m-4">Valoracion: </span>
            <div class="d-flex justify-content-center align-items-center">
              {% if place.valoration != NULL %}
                  {% for i in 1..5 %}
                    {% if i <= place.valoration %}
                      <img src="{{ asset('img/samples/estrellaon.gif')}}" alt="{{ place.valoration }} / 5" title="{{ place.valoration }}/5" style="height:25px; width:25px"/>
                    {% else %}
                      <img src="{{ asset('img/samples/estrellaoff.gif')}}" alt="{{ place.valoration }} / 5" title="{{ place.valoration }}/5" style="height:25px; width:25px"/>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <p>Sin valoracion</p>
                {% endif %}
            </div>					
		</div>
			{# <div>
				<span class="text-muted">
					<i class="fa fa-clock-o mr-5" aria-hidden="true"></i>
						Estreno:
						{{ place.estreno }}
						<!-- mr-5 = margin-right: 0.5rem (5px) -->
				</span>
			</div> #}
			<div>
				<span class="text-muted text-italic">
					<i class="fas fa-user" aria-hidden="true"></i>
							Subida por :
							{% if place.getUser() %}
								<a href=" {{ path('user_show', {'id':place.getUser().id } ) }}"><span class="font-italic">{{ place.getUser().name }}</span></a>
							{% else %}
								<span class="font-italic">Anónimo</span>
							{% endif %}
						<!-- mr-5 = margin-right: 0.5rem (5px) -->
				</span>
			</div>
		</div>
		<hr/>
		<!-- Second content container nested inside card (comments) -->
		<div class="content d-flex flex-column justify-content-center align-items-center">
			<h2 class="content-title">
			    DESCRIPCIÓN:
			</h2>
			{% if place.text %}
				<div>
					{# {% autoescape false %} #}
						<p class="m-5">{{ place.text }}</p>
					{# {% endautoescape %} #}
				</div>
			{% else %}
				  	<p>AUN NO HAY DESCRIPCIÓN DEL LUGAR</p>
			{% endif %}
			      
		</div>

		<div class="content d-flex flex-column justify-content-center align-items-center">			
					<!-- FOTOS -->
					<div class="content d-flex flex-column justify-content-center align-items-center">
						<h2 class="content-title m-0 p-2">FOTOS DEL LUGAR: </h2>
						{% if place.getPhotos()|length > 0 %}
							{% set photos = place.getPhotos() %}
							{% include 'photo/galery.html.twig' %}
						{% else %}
							<div class="content d-flex flex-column justify-content-center align-items-center">
							<p class="font-weight-light font-italic">Aún no hay fotos del lugar!</p>
						</div>
						{% endif %}
					</div>
					<!-- COMENTARIOS -->
					<h2 class="content-title">
						Añadir Comentario:
					</h2>
					<div>
					{% if is_granted('create', entityFaker.getMock('Comment') ) %}
						<form action="{{ path('comment_create' )}}" method="POST" class="w-400 mw-full d-flex flex-column"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
							<!-- Textarea -->
							<div class="form-group">
								<label for="description">No se admiten comentarios obscenos, sexistas ni racistas:</label>
								<textarea class="form-control" id="content" placeholder="Escribe tu comentario." name="content"></textarea>
							</div>
							<!-- Normal input -->
							<input type="hidden" class="form-control" value="{{ place.id }}" name="place_id" >
							<!-- Submit button -->
							<input class="btn btn-primary" type="submit" value="Comentar">
						</form>
					{% else %}
						<div class="content d-flex flex-column justify-content-center align-items-center">
							<p class="font-weight-light font-italic">Tienes que registrarte para poder comentar. Let´s Rock!!!!</p>
							<div class="m-2 p-2">
								<a href="{{ path('app_register') }}" class="btn btn-primary" role="button">Register</a>
							</div>
						</div>
					{% endif %}
				</div>	  	
					<div>			
						<div class="content d-flex flex-column justify-content-center align-items-center">
							{% if comments|length > 0 %}
								<h2 class="content-title m-0 p-2">COMENTARIOS ANTERIORES</h2>
								{% for comment in comments %}
									<div class="card m-0 p-2 d-flex flex-column justify-content-center align-items-center">
										<h2 class="card-title m-0 p-2">
											<span class="badge">
												<i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i>
												{{ comment.user.name }}
											</span>
										</h2>
										<p class="m-0 p-2">
											{{ comment.content }}
										</p>
										{% if is_granted('delete', comment ) %}
											<a href="{{ path('comment_delete', {'id':comment.id })}}" class="btn">
												BORRAR COMENTARIO
												<i class="fas fa-trash"></i>
											</a>
										{% endif %}
										{# <div class="text-right"> <!-- text-right = text-align: right -->
											<a href="#" class="btn">Read more</a>
										</div> #}
									</div>
								{% endfor %}
							{% else %}
							<div class="content d-flex flex-column justify-content-center align-items-center">
								<p class="m-0 p-2">
									No hay comentarios aún sobre este lugar
								</p>
							</div>
							{% endif %}
						</div>
						{# <div class="text-center mt-20"> <!-- text-center = text-align: center, mt-20 = margin-top: 2rem (20px) -->
						<button class="btn btn-sm">Load all comments</button>
						</div> #}
					</div>
		</div>
	</div>
</div>
{% endblock %}