{% extends 'layouts/base.html.twig' %}

{% block title %} Portada {% endblock %}

{% block main %}
<div class="d-flex flex-wrap flex-column justify-content-center m-4 p-2">
    <h2 class="text-center font-size-24 font-weight-bold primary text-primary text-smoothing-auto-dm">ÚLTIMAS PELÍCULAS AÑADIDAS CON CARÁTULAS</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for place in lastPlaces %} 
            <a href="{{ path('place_show', {'id':place.id })}}" class="m-2">
                <div class="w-300 h-quarter m-2 p-2">
                    {# <img src="{{ asset(covers_directory ~'/'~ (place.caratula ?? 'default.jpg' ))}}" class="h-300 w-250 rounded-top" alt="{{ place.titulo }}" title="{{ place.titulo }}">  #}
                    <div class="col-sm text-center">{{ place.titulo }}</div>
                </div>
            </a>           
        {% endfor %}
    </div>
</div>
{# 
<div class="d-flex flex-wrap flex-column justify-content-center m-4 p-2">
    <h2 class="text-center font-size-24 font-weight-bold text-primary text-smoothing-auto-dm">PELÍCULAS MEJOR VALORADAS</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for place in placesMejorValoradas %}
            <a href="{{ path('movie_show', {'id':place.id })}}" class="m-2">
                <div class="w-200 h-quarter m-2 p-2">
                    <img src="{{ asset(covers_directory ~'/'~ (place.caratula ?? 'default.jpg' ))}}" class="h-300 w-250 rounded-top" alt="{{ place.titulo }}" title="{{ place.titulo }}"> 
                    <div class="col-sm text-center">{{ place.titulo }}</div>
                    <div class="col-sm text-center font-weight-bold">VALORACIÓN: {{ place.valoracion }}</div>
                </div>  
            </a>         
        {% endfor %}
    </div>
</div> #}
{% endblock %}