<div class="">
	{{ form_start(formulario)}}
	<div class="d-flex flex-row justify-content-around align-items-center">
		<div class="form-group">{{ form_row(formulario.place)}}</div>
		<div class="form-group">{{ form_row(formulario.SEARCH)}}</div>
		{# {{ form_rest(formulario)}} #}
	</div>
	{{ form_end(formulario) }}
</div>
